@{
    ViewData["Title"] = "Endpoints";
    ViewData["Dependencies"] = Dependencies.GetnetMainWIthFormsAndTables;
}

<div id="endpoints" class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--12-col ">

</div>

@section scripts {
    <script>
        $("#endpoints").load("/endpoint/allendpointspartial");
    </script>
    
}