<table id="nd-table" class="mdl-data-table" width="100%" cellspacing="0">
    <thead>
        <tr>
            @if (ViewData["SiteId"] == null)
            {
                <th>Site</th>
            }
            <th>Capabilities</th>
            <th>Hostname</th>
            <th>Model</th>
            <th>Serial</th>
            <th>Management IP</th>
        </tr>
    </thead>
</table>

<script>
    var table = $('#nd-table').on('processing.dt', function (e, settings, processing) {
        $('#fullpage-loading').css('display', processing ? 'block' : 'none');
    }).DataTable({
        ajax: {
            url: "/networkdevice/networkdevicehandler",
            data: {
                siteid: "@ViewData["SiteId"]",
                text: "@ViewData["SearchText"]"
            }
        },
        processing: false,
        serverSide: true,
        columnDefs: [
            {
                @if (ViewData["SiteId"] == null) {
                    @:targets: [0, 1, 2, 3, 4],
                                 } else {
                    @:targets: [0, 1, 2, 3],
                                 }
                className: 'mdl-data-table__cell--non-numeric'
            }
        ],
        language: {
            search: "Filter:"
        },
        rowCallback: function (row, data) {
            var ca = 1;
            @if (ViewData["SiteId"] == null)
            {
                @:$(row).children("td").first().html('<a href="/s/' + data[0] + '">' + data[0] + "</a>");
                            @:ca = 0;
                        }
            $(row).children("td").eq(2 - ca).attr("title", data[2 - ca]).html(getnet.reverseTruncElips(data[2 - ca], 11));

            $(row).attr('id', data[2 - ca] + "_row");
            $(row).children("td").last().addClass("pingme");

            $(row).children("td").last().html(data[5 - ca] + '<button id="' + data[2 - ca] + '" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">' +
                '<i class="material-icons" role="presentation">arrow_drop_down</i>' +
                '<span class="visuallyhidden">NetworkDevice</span>' +
                '</button>' +
                '<ul class="netbuts mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="' + data[2 - ca] + '">' +
                '<li id="' + data[2 - ca] + '_ping" class="pingme mdl-menu__item" data-ip="' + data[5 - ca] + '" data-colortarget="#' + data[2 - ca] + '_row"' + ' onclick="getnet.ping(\'#' + data[2 - ca] + '_ping\')">Ping</li>' +
                '<li class="mdl-menu__item" onclick="getnet.hipkuSnack(\'' + data[5 - ca] + '\')">Hipku</li>' +
                '<li class="mdl-menu__item" onclick="window.location.href = \'ssh:' + data[5 - ca] + '\'">Ssh</li>' +
                '<li class="mdl-menu__item" onclick="window.location.href = \'/d/' + encodeURIComponent(data[2 - ca]) + '\'">Details</li>' +
                '<li class="mdl-menu__item" onclick="window.location.href = \'/networkdevice/edit/' + encodeURIComponent(data[5 - ca]) + '\'">Edit</li>' +
                '</ul>');
        },
        initComplete: function () {
            componentHandler.upgradeElements(document.querySelectorAll('.netbuts'));
        },
        drawCallback: function () {
            componentHandler.upgradeElements(document.querySelectorAll('.netbuts'));
        }
    });
    $(table.tables().containers()).children("div").first().children("div").first().removeClass("mdl-cell mdl-cell--6-col").addClass("mdl-cell mdl-cell--5-col");
    var addrouter = "";
    @if (ViewData["SiteId"] != null)
    {
        @:addrouter = '<li class="mdl-menu__item" id="show-dialog2">Add Router</li>';
        }

    $(table.tables().containers()).children("div").first().prepend('' +
                '<button id="ntblbut" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">' +
                '<i class="material-icons" role="presentation">more_vert</i>' +
                '<span class="visuallyhidden">NetworkDevice</span>' +
                '</button>' +
                '<ul id="ntlst" class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="ntblbut">' +
                '<li class="mdl-menu__item" onclick="getnet.pingall()">Ping All</li>' +
                addrouter +
                '</ul>');
    componentHandler.upgradeElement(document.querySelector('#ntlst'));

    @if (ViewData["SiteId"] != null)
    {
        @:$("#show-dialog2").on('click', function() {
        @:    dialog2.showModal();
        @:});
    }

</script>