@{
    ViewData["Title"] = "Home Page";
}

<div class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--12-col mdl-typography--text-center">
    <img src="~/images/logo_534.png" />    
</div>