@model Site
@{
    ViewData["Title"] = "Sigma Graph for " + Model.Name;
}

<div class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--12-col" id="container" style="height:400px">

</div>

@section scripts {
    <script src="~/lib/sigma/sigma.js"></script>
    <script src="~/lib/sigma/plugins/sigma.parsers.json.min.js"></script>
    <script>
        sigma.parsers.json('/diagram/sigmajson/@Model.SiteId', {
            container: 'container',
            settings: {
                defaultNodeColor: '#ec5148'
            }
        });
    </script>
}