@model Site
@{
    ViewData["Title"] = "Viz Graph for " + Model.Name;
    ViewData["Dependencies"] = Dependencies.GetNetMainWithForms;
}

<div class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--12-col mdl-typography--text-center" id="container">

</div>

@section scripts {
    <script src="~/lib/viz/viz.js"></script>
    <script>
        var result = Viz('@Html.Raw(ViewData["VizGraph"])', { format="svg", engine: "dot", scale });
        $("#container").html(result);
    </script>
}