@{
    ViewData["Title"] = "Login";
}

<div class="getnet-full-page">
    <div id="thisform" class="mdl-grid mdl-cell--4-col">
        <div class="mdl-layout-spacer"></div>
        <form action="/login"
              method="post">

            @if (ViewData["FailedLoginMessage"] != null)
            {
                <div class="getnet-alert getnet-alert-error getnet-alert-closable" id="FailedLoginAlert">
                    <button type="button" class="mdl-button mdl-js-button mdl-button--icon getnet-alert-close" onclick="getnet.closeAlert('FailedLoginAlert')">
                        <i class="material-icons">close</i>
                    </button>
                    @ViewData["FailedLoginMessage"]
                </div>
            }
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

            <div mdl-textbox-for="username" mdl-label="Username" mdl-errors="@ViewData.ModelState.ErrorsFor("username")" mdl-value=""></div>

            <div mdl-password-for="password" mdl-label="Password" mdl-errors="@ViewData.ModelState.ErrorsFor("password")" mdl-value=""></div>

            <button mdl-submit-button="Login"></button>
        </form>
        <div class="mdl-layout-spacer"></div>
    </div>

</div>