@model IEnumerable<Device>

<div class="page-content mdl-grid">
    <div class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--2-col">
        @foreach (var vlan in Model.Select(d => d.Vlan)?.Distinct()?.OrderBy(d => d.VlanNumber))
        {
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
                <span class="mdl-switch__label">Vlan @vlan?.VlanNumber</span>
            </label>
        }
    </div>

    <div class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--10-col">
        <table id="end-table" class="mdl-data-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>IP</th>
                    <th>MAC</th>
                    <th>Last Seen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Model)
            {
                    <tr>
                        <td>@device.Hostname</td>
                        <td>@device.IP.ToString()</td>
                        <td>@device.MAC</td>
                        <td>@device.LastSeenOnline</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    componentHandler.upgradeElement(document.querySelector('.mdl-switch'))
</script>