@{ 
    ViewData["Title"] = "Sites";
}

<div id="site-content" class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--12-col">
    <span></span>
</div>

@section scripts {
<script>
    $(document).ready(function () {

        $("#site-content").load('/site/sitespartial/');
    });
</script>
}