<table id="sub-table" class="mdl-data-table" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Site</th>
            <th>Type</th>
            <th>Network</th>
        </tr>
    </thead>
</table>

<script>
    var table = $('#sub-table').on('processing.dt', function (e, settings, processing) {
        $('#fullpage-loading').css('display', processing ? 'block' : 'none');
    }).DataTable({
        ajax: "/subnet/subnethandler/searchText=@ViewData["SearchText"]",
        processing: false,
        serverSide: true,
        columnDefs: [
            {
                targets: '_all',
                className: 'mdl-data-table__cell--non-numeric'
            }
        ],
        language: {
            search: "Filter:"
        },
        rowCallback: function (row, data) {
            $(row).children("td").first().html('<a href="/s/' + data[0] + '">' + data[0] + "</a>");
        }
    });
</script>