@{
    ViewData["Title"] = "Subnets";
}

<div id="subnets" class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--12-col ">

</div>

@section scripts {
    <script>
        $("#subnets").load("/subnet/allsubnetspartial");
    </script>

}